@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');


.main {
    margin: 0;
    background-color: #0d0f10;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #9b9ca1;
}

.flares {
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(#010202,transparent);
    position: absolute;
    top: 0;
}

.flares img {
    position: absolute;
    top: 0%;
    bottom: auto;

}
.flares .flaresTop {
    left: 0%;
    right: 0%;
}

.flares .flaresRight {
    left: auto;
    right: 0%;
}

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    max-width: 1223px;
    padding-left: 24px;
    padding-right: 24px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.hero {
    width: 100%
}


.logo {
    width: 100%;
    text-align: center;
    margin-top: 60px
}

.nextLogo {
    filter: invert(1);
}

.hero h1 {
    width: auto;
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: #fff
}

.hideMobile {
    display: none;
}

@media screen and (min-width: 991px) {
    .hideMobile {
        display: block;
    }

    .hero h1 {
        margin-bottom: 24px;
        font-size: 64px;
    }
}